* {
    font-family: 'Quicksand';
}
.heading {
    font-weight: 400;
    font-size: 20px;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 5px 0;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    opacity: 0.6;
}